.header {
    text-align: center;
    margin: 3rem auto;
  }
  
  
  .header img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    background-color: transparent;
  }
  
  .header h1 {
    font-size: 1.5rem;
  }
  


  
  .list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
  }